.SideBarAdm{
    background: rgba(32, 112, 204, 0.913);
    height: 100vh;
    width: 20.4vw;
    padding-top: 5%;
}

.SideBarAdm div ul{
    list-style: none;
}


.SideBarAdm div ul .lSBA{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.SideBarAdm div ul .lSBA .i{
    font-size: 2rem;
}

.SideBarAdm div ul .lSBA:hover{
    background: whitesmoke;
    color: rgba(32, 112, 204, 0.913);
}

.SideBarAdm div ul li{
    margin: 0 0 0 10px;
    text-decoration: none;
}