.cUser{
    margin: 20px 0 20px 0;
}

.cUser .cUser-Plus{
    display: flex;
    justify-content: center;
}

.cUser .cUser-Plus button{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}